<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>sun salutation a</string>
		<key>color</key>
		<string>redColor</string>
		<key>image</key>
		<string>sun a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sun salutation b</string>
		<key>color</key>
		<string>redColor</string>
		<key>image</key>
		<string>sun b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>warrior</string>
		<key>color</key>
		<string>orangeColor</string>
		<key>image</key>
		<string>warrior i</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hand to toe pose</string>
		<key>color</key>
		<string>yellowColor</string>
		<key>image</key>
		<string>hand to toe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dandasana</string>
		<key>color</key>
		<string>blueColor</string>
		<key>image</key>
		<string>dandasana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bird of paradise</string>
		<key>color</key>
		<string>greenColor</string>
		<key>image</key>
		<string>bird of paradise</string>
	</dict>
	<dict>
		<key>name</key>
		<string>plow</string>
		<key>color</key>
		<string>purpleColor</string>
		<key>image</key>
		<string>plow</string>
	</dict>
</array>
</plist>
