<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotPinkColor</key>
	<integer>16722536</integer>
	<key>greyColor</key>
	<integer>13092812</integer>
	<key>tealColor</key>
	<integer>5631947</integer>
	<key>purpleColor</key>
	<integer>12993788</integer>
	<key>redColor</key>
	<integer>16726832</integer>
	<key>orangeColor</key>
	<integer>16749824</integer>
	<key>yellowColor</key>
	<integer>16763904</integer>
	<key>greenColor</key>
	<integer>5036388</integer>
	<key>blueColor</key>
	<integer>3451612</integer>
</dict>
</plist>
